<html>
  <head>
     <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1 class="pillowmaker">pillowmaker</h1>
  <div class="home">
    <p>welcome,</p>
    <p>this space is built for sleep.</p>
    <br></br> <br></br>
    <p class="members">members of the community agree to the following principles: </p>
     <br></br>
    <p>1. sleep is essential</p>
    <p>sleep is not optional, it is the foundation of the space.</p>
     <br></br>
    <p>2. sleep is collective</p>
    <p>participants sleep in the open space </p>
     <br></br>
     <br></br>
    <p><a href="guestbook" class="nopurple">continue</a></p>
   
  </div>h
</div>
  </body>
</html>

