<html>

<head>
    <title></title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1 class="pillowmaker">pillowmaker</h1>

        <div>
            <form method="GET" action="/home">
            <input type="button" value="manifesto">
            </form>
        </div>
        display pillows with an araay fjkklslkm
</body>

</html>