<html>

<head>
    <title></title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1 class="pillowmaker">pillowmaker</h1>

        <div>
            <a href="/">manifesto</a>
        </div>
        display pillows with an araay fjkklslkmsffffffff
</body>

</html>